[Unit]
Description=OkS! HTTP Server
After=network.service

[Service]
User=okserver
ExecStart=/usr/bin/okserver
EnvironmentFile=/home/okserver/http/env
RestartSec=10
Restart=always
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
